.display-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.custom {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    background: #ccc;
}